.button {
    border: none;
    outline: none;
    padding-inline: 1rem;
    padding-block: 0.75rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.3s;

    &.primary-button {
        background-color: #3b82f6;
        color: rgb(255, 246, 246);
    }

    &:active {
        transform: scale(0.95);
    }
}